<% login = "/login" %>
<% register = "/register" %>
<% logout = "/logout" %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>YelpCamp</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="/">YelpCamp</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav">
            <li class="<%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>"><a
                        href="/campgrounds">Home</a></li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <% if(!currentUser){ %>
                <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a
                            href="<%= login %>">>Login</a>
                </li>
                <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a
                            href="<%= register %>">Register</a></li>
            <% } else { %>
                <li><a href="#">Signed In As <%= currentUser.username %></a></li>
                <li><a href="<%= logout %>">Logout</a></li>
            <% } %>
        </ul>
    </div>
</nav>

<div class="container">
    <% if(error && error.length > 0) { %>
        <div class="alert alert-danger"><p><%= error %></p></div>
    <% } %>

    <% if(success && success.length > 0) { %>
        <div class="alert alert-success"><p><%= success %></p></div>
    <% } %>
</div>
<div class="container">